@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    color: #5a5a5a;
}

.subtitle{
    font-family: 'Roboto Condensed', 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    margin: auto;
    margin-bottom:0.5rem;
}

.underline{
    background-color: #111111;
    width: 3rem;
    height:7px;
    margin-bottom:1rem;
}


/* NavBar */
.navbar-brand {
    font-family: 'Roboto Condensed', 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Jumbotron */
.jumbotron {
    margin-bottom: 2rem;
    height: 500px;
    padding: 6rem 0.5rem;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: 75% 100%;
}

.jumbotron .display-4 {
    font-family: 'Roboto Condensed', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    margin-bottom: 0; 
}

.jumbotron .display-4 span{
    color: gold;
}

/* About */
.about {
    text-align: center;
    font-family: 'Roboto Condensed', 'Courier New', Courier, monospace;
    margin-bottom: 2rem;
}

.about img{
    width: 60%;
    margin: auto;
    margin-bottom:1rem;
    border-radius: 50%;
    box-shadow: 3px 3px 7px #111111;
}


.about p{
    font-size: 1.3rem
}

.about p span{
    font-weight: bold;
}

/* Work */
.work{
    margin-bottom: 2rem;
}
.work img{
    width: 100%;
    display: block;
}

.work .showpiece{
    position: relative;
    margin-bottom:1rem;
}

.work .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}

.work .clockedin .overlay{
    padding-top: 1rem;
}

.work .clockedin .overlay img{
    width: 30%;
    margin: auto
}

.work .lagerhoger .overlay img{
    width: 50%;
    margin: auto
}

.work .showpiece:hover .overlay {
   opacity: 1;
}

.work .row{
    display: inline-block;
    margin: 0;
}

.work .col-lg-4, .work .col-12{
    padding: 0;
}


/* Footer */
footer{
    background-color: #5699B8;
    padding: 1rem;
    color: white;
    text-align: center;
}

footer a, a:hover {
	text-decoration: none;
}

footer .socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

footer .socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

footer .socialbtns .fa {
	width: 40px;
    height: 40px;
	color: #FFFFFF;
	background-color: #323232;
	padding-top: 12px;
	border-radius: 50%;
}

footer .socialbtns .fa:hover {
	color: #111111;
	background-color: gold;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 62em) {
    .jumbotron{
        padding: 8rem 2rem;
        background-position: center;
    }

    .about img{
        width: 20%;
    }

    .about p {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .work .row{
        display: flex;
    }

    .work .col-lg-4, .work .col-12{
        padding: 15px;
    }

}