@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body{
    font-family: 'Oswald', sans-serif;
}

header{
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    color: whitesmoke;
    text-align: center;
    height: 80%;
}
header .profile-content{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-top:12%
}
header .profile-pic{
    width: 210px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: #222 0.2em 0.2em 1em;
}

h1, h2{
    text-shadow: 2px 2px 4px #000000;
}

h1{
    margin:0;
    margin-top:10px;
    font-size: 3em;
}
h2{
    margin:0; 
}


footer ul{
    color: black;
    list-style: none;
    text-align: center;
    padding:0;
}

footer ul li{
    color: black;
    content: " | ";
    padding: 0 10px;
}

footer ul a{
    text-decoration: none;
    color: black;
    font-size: 2em;
}

footer ul a:hover{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: 700;
}

@media screen and (min-width: 720px) {
    footer{
        margin-top: 50px
    }
    footer ul li{
        display:inline-block;
    }
}